<div class="view bg-gray-600 h-screen text-white">
  <ng-container *ngIf="currentWeather$ | async as weather">
    <div class="main-view flex justify-center items-center">
      <div class="summary">
        <h1 class="summary__temp text-6xl">{{ weather.temperatureC }}°</h1>
        <h2 class="summary__loc self-end text-2xl">Brisbane</h2>
        <h3 class="summary__date self-start text-gray-300 text-tiny">
          {{ weather.date | amDateFormat: "hh:mm • dddd DD MMM 'YY" }}
        </h3>
        <img
          class="summary__icon self-end justify-self-center h-6 ml-5"
          [src]="weather.iconUrl"
        />
        <div class="summary__climate self-start text-tiny ml-5">
          {{ weather.climate }}
        </div>
      </div>
    </div>
    <div class="secondary-view flex justify-evenly self-end">
      <div class="flex flex-col items-center">
        <div class="text-gray-400 opacity-50 text-xl">
          {{ weather.humidityPercentage }}%
        </div>
        <div class="text-gray-200 text-tiny opacity-75">Humidity</div>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-gray-400 opacity-50 text-xl">
          {{ weather.visibility }}mi
        </div>
        <div class="text-gray-200 text-tiny opacity-75">Visibility</div>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-gray-400 opacity-50 text-xl">
          Low {{ weather.uvIndex }}
        </div>
        <div class="text-gray-200 text-tiny opacity-75">UV Index</div>
      </div>
    </div>
  </ng-container>
</div>
